:root {
  --white: #f7f7f7;
  --grey: #cccccc;
  --bellroyOrange: #e15a1d;
}

html {
  background: var(--white);
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-block-end: 1px solid var(--grey);
}
.settings {
  & label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & span {
      min-width: 12ch;
      .value {
        color: var(--bellroyOrange);
      }
    }
  }
}

.info {
  display: flex;
  align-items: end;
  gap: 1rem;
  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bellroyOrange);
  }
  & img {
    height: 5rem;
  }
}
.grid {
  display: grid;
  gap: 0.25rem;
  height: calc(100svh - 5rem);
  width: 100%;
}
.cell {
  background: url(../img/background-texture-repeat.jpg) repeat;
  filter: brightness(0.95);
  aspect-ratio: 1;
}
.cell.cleaned {
  filter: brightness(1);
  transition: filter 0.33s linear 0.66s;
}
#robot {
  view-transition-name: robot;
  align-self: center;
  justify-self: center;
  width: 66%;
  max-width: 100px;
  height: auto;
  z-index: 20;
  transition: transform 0.5s cubic-bezier(0.63, -0.01, 0.35, 1.6);
}
#robot[data-direction="ArrowUp"] {
  transform: rotate(0deg);
}
#robot[data-direction="ArrowDown"] {
  transform: rotate(180deg);
}
#robot[data-direction="ArrowRight"] {
  transform: rotate(90deg);
}
#robot[data-direction="ArrowLeft"] {
  transform: rotate(-90deg);
}
.light {
  fill: var(--bellroyOrange);
}
.front-light {
  fill: #00cdab;
  animation: pulse 1s linear infinite;
}
.laser {
  animation: scan 4s cubic-bezier(0.5, -0.4, 0.51, 1) infinite;
  transform-origin: center;
}
.spinny {
  animation: spin 1s linear infinite;
  transform-origin: center;
  transform-box: border-box;
}
@keyframes pulse {
  50% {
    opacity: 0;
  }
}
@keyframes scan {
  50% {
    transform: scaleX(1.333);
    opacity: 0.15;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html::view-transition-group(*) {
  animation-duration: 0.66s;
  animation-timing-function: cubic-bezier(0.6, 0, 0.26, 1.15);
}

/* Range Input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--grey);
  height: 0.05rem;
}
input[type="range"]::-moz-range-track {
  background: var(--grey);
  height: 0.05rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5rem;
  background-color: var(--bellroyOrange);
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: var(--bellroyOrange);
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline-style: solid;
  outline-color: #fff;
  outline-offset: -3px;
  outline-width: 2px;
}
